@font-face {
    font-family: 'slavyanski';
    src: url(slavyanski.ttf);
}

*{
    background: #000;
    font-family: slavyanski;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


#next_btn{
    margin-top: 5%;
    font-family: slavyanski;
    font-size: 35px;
    border-radius: 10px;
    text-align: center;
}

#text_area{
    font-family: slavyanski;
    font-size: 30px;
    text-align: justify;
}

button{
    margin-top: 5%;
    font-family: slavyanski;
    font-size: 35px;
    border-radius: 10px;
    text-align: justify;
    text-align: center;
}

#change_area{
    font-size: 35px;
}

#text_area{
    font-size: 35px;
    text-align: center;
}

#img{
    text-align: center;
    width: 50%;
}

@media (max-width: 420px) {
   #change_area{
       margin-top: -30px;
       font-size: 30px;
   }
    button{
        font-size: 30px;
    }

    #img{
        margin-top: 20px;
        width: 80%;
    }
}

@media (max-height: 420px) {
    #change_area{
        margin-top: -50px;
        font-size: 25px;
    }
    button{
        font-size: 25px;
    }
    #img{
        width:20%;
    }
}
